<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bf460">  <td>17/06/20 13:59:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:SliderTest@3cb5cdba]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>17/06/20 14:00:22</td>   <td>25665</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:CalculationTest@56cbfb61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>17/06/20 14:00:20</td>   <td>24334</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:SliderTest@3cb5cdba]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>17/06/20 14:00:46</td>   <td>49876</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:CalculationTest@56cbfb61]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="aaed64">  <td>17/06/20 14:00:20</td>   <td>24025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SliderTest.testSlider()[pri:0, instance:SliderTest@3cb5cdba]">testSlider</td> 
  <td>main@718231523</td>   <td></td> </tr>
<tr bgcolor="99f790">  <td>17/06/20 14:00:43</td>   <td>47301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculationTest.testValue()[pri:0, instance:CalculationTest@56cbfb61]">testValue</td> 
  <td>main@718231523</td>   <td></td> </tr>
</table>
